before_script:
  - docker info

build_image:
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN hub.cantstopclapping.com
    - docker build -t hub.cantstopclapping.com/docker/jekyll-build .
    - docker push hub.cantstopclapping.com/docker/jekyll-build:latest
  only:
    -master
